$color-primary: #84134b;
$color-primary-light: #e36e9d;
$color-secondary: #fb6519;
$color-tertiary: #0b9aa2;
$color-quaternary: #f5f5f5;

// COLOR-QUINARY
$color-quinary: rgb(225, 89, 151);
$color-quinary-light: #ffc5df;
$color-quinary-gradient: #b12459;
// $color-quinary:#000;
// $color-senary:#000;
// $color-septenary:#000;
// $color-octonary:#000;
// $color-nonar:#000;
// $color-denary:#000;
$black-color: #222222;
$white-color: #fff;

// FONT
$default-font-size: 1.6rem; // 1rem = 16px 1.6rem=
$default-font-size-2: 1.4rem;
$default-font-size-3: 1.2rem;
$default-font-size-4: 1rem;
$default-font-size-5: 0.8rem;
$default-font-size-6: 0.6rem;
$default-font-size-7: 4.6rem;

$extra-font-size:8.5rem;
$extra-font-size-2: 5.5rem;
$extra-font-size-3: 2.5rem;

